.App {
  text-align: center;
  margin-top: 2em;
  box-sizing: border-box;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}
.scrambled-sentence {
  color: rgb(25,25,140);
}

.correct-input {
  background-color: #4caf50;
}
.button {
  color: #388e3c;
}
