.App {
  box-sizing: border-box;
  margin-top: 0;
  height: 100vh;
  background-color: #e1e1e1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.game-wrapper {
  max-height: 700px;
  border-radius: 25px;
  box-sizing: border-box;
  display: flex; 
  margin-top: 2rem;
  flex-direction: column;
  padding: 1rem;
  background-color: white;
  justify-content: center;  
}
.heading-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}
.game-content-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.scrambled-sentence {
  color: rgb(25,25,140);
}

.correct-input {
  background-color: #4caf50;
}
.button {
  color: #388e3c;
}

/* Small devices (portrait tablets and large phones, 600px and up)
@media only screen and (max-width: 600px) {
  html {
    width: 100%;
  }
  .game-wrapper {
    max-width: 350px;
  }
  .input-field { 
    max-width: 30px;
  }
  .space-field{
    max-width: 50px;
  }
}
@media only screen and (min-width: 600px) {
  .game-wrapper {
    max-width: 500px;
  }
  .input-field { 
    max-width: 60px;
  }
}
@media only screen and (min-width: 768px) {
  .game-wrapper {
    max-width: 750px;
  }
  .input-field { 
    max-width: 70px;
  }
}
@media only screen and (min-width: 992px) {
  .game-wrapper {
    max-width: 900px;
  }
  .input-field { 
    max-width: 80px;
  }
}

@media only screen and (min-width: 1200px) {
  .game-wrapper {
    max-width: 1200px;
  }
  .input-field { 
    max-width: 100px;
  }
}  */