.App {
  text-align: center;
  box-sizing: border-box;
  margin-top: 0;
  padding: 2rem;
  width: 100%;
  height: 100vh;
  background-color: #e1e1e1;
  display: flex;
  justify-content: center;
}
.game-wrapper {
  display: flex; 
  flex-direction: column;
  width: 70%;
  padding: 2rem;
  background-color: white;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}
.scrambled-sentence {
  color: rgb(25,25,140);
}

.correct-input {
  background-color: #4caf50;
}
.button {
  color: #388e3c;
}
